{{#if loginFail}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{loginFail}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if somethingMissing}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{somethingMissing}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if wrongConfirmedPassword}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{wrongConfirmedPassword}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if existEmail}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{existEmail}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if registerSuccess}}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {{registerSuccess}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
