<div class="container mt-5 mb-5">

  <div class="row" id="dropdown">
    {{#if noCategory}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{noCategory}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    
    <div class="dropdown mb-3 col d-flex justify-content-center align-items-center">
      請選擇類別：
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        類別
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#if category}}
        {{#each category}}
        <li><a class="dropdown-item" href="?OM={{this._id}}">{{this.name}}</a></li>
        {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>

  <div class="row d-flex justify-content-center" id="total">
    <div class="col-8">
      <span>總金額：</span>
      <h1 style="color: red; text-align: center">{{ totalAmount }}</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center" id="expense-list">
    <div class="col-8">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">類別</th>
          <th scope="col">支出明細</th>
          <th scope="col">金額</th>
          <th scope="col">修改</th>
          <th scope="col">刪除</th>
        </tr>
      </thead>

      <tbody>
        {{#if result}}
        {{#each result}}
        <tr>
          <td scope="row" style="vertical-align: middle">
            {{!-- TODO: update by createId --}}
            <i class="fa-solid {{this.categoryIcon}}" style="font-size: 50px; color: #83D2E0"></i>
          </td>
          <td style="vertical-align: middle">
            <span style="display: block; font-size: 25px">{{this.name}}</span>
            <span style="display: block; font-size: 10px">{{this.createdDate}}</span>
          </td>
          <td style="vertical-align: middle">
            <h5>{{this.amount}}</h5>
          </td>
          <td style="vertical-align: middle">
            <a href="/expense/{{this._id}}/edit">
              <i class="fa-solid fa-pen-to-square" style="font-size: 18px; color: #83D2E0"></i>
            </a>
          </td>
          <td style="vertical-align: middle">
            <form action="./expense/{{ this._id }}/?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn">
                <i class="fa-solid fa-trash-can" style="font-size: 18px; color: #83D2E0"></i>
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>

    </div> 
    
  </div>

  <div class="row" id="add-expense">
    <div class="d-flex justify-content-center">
      <a href="/expense/new" class="btn btn-secondary">新增支出</a>
    </div>
  </div>

</div>
